.page__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(880/1280*100%);
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  transition: padding-top .2s linear;
}
  
@media screen and (max-width: 767px) {
  .page__header {
    width: 100%;
    padding-top: 28px;
  }
}
